.info_columna {
    background: #5EA32F;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.consultoria_columna {
    position: relative;
    margin-bottom: 30px;
}
.consultoria_columna ul li {
    border-radius: 10px;
    margin: 10px;
}
.consultoria {
	display: flex;
	justify-content: space-between;
	margin-top: -90px;
	flex-wrap: wrap;
	margin-top: 0;
	padding: 20px;
}

.consultoria ul li {
	list-style: url(../IMG/approved.png);
	padding: 20px;
}

#consultoria   {
    background: #5EA32F;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#consultoria .contenedor    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#consultoria ul li {
    float: left;
    padding: 10px;
    list-style: none;
    display: block;
}

#consultoria ul li a {
    color: #fff;
    text-decoration: none;
    margin: 20px 0px;
    display: block;
    border: 1px solid #fff;
    padding: 10px;
}

#consultoria ul li a:hover {
    color: #357AA1;
    background: #fff;
    text-decoration: none;
    margin: 20px 0px;
    display: block;
    border: 1px solid #fff;
    padding: 10px;
}

#consultoria ul li a:active {
    color: #fff;
    background: #357AA1;
    text-decoration: none;
    margin: 20px 0px;
    display: block;
    border: 1px solid #fff;
    padding: 10px;
}



/* Responsive 480px */

@media(min-width:480px) {
	.info, .negocios {
		display: flex;
		justify-content: space-between;
		margin-top: 0px;
	}
	.info_columna {
		width: 32%;
	}
	.info_titulo {
		font-size: 30px;
		margin: 5px 0;
	}
}

/* Responsive 1024px */

@media(min-width:1024px) {
    .info {
        margin-top: 0px;
    }
    .info_columna {
        padding: 30px;
    }
    .info_titulo {
        font-size: 40px;
        text-align: center;
    }
 }

/* Responsive 1280px */

@media(min-width:1280px) {
    .info {
        margin-top: 0px;
    }
}
