.nav {
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.nav a {
	font-size: 13px;
	text-transform: uppercase;
	height: 60px;
}


.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu_link {
	display: block;
	padding: 15px;
	background: #fff;
	text-decoration: none;
	color: #357AA1;
}

.menu_link:hover, .select {
	background: #357AA1;
	color: #fff;
}


.menu_link:hover, .select {
	background: #5EA32F;
	color: #fff;
}

.mostrar {
	left: 0;
}
