/* Sección Ingredientes de Negocios */

.negocios_columna {
	position: relative;
	margin-bottom: 30px;
}

.negocios_descripcion {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: 10px;
}

.negocios_titulo {
	font-size: 25px;
	margin: 5px 0;
}

/* Sección Recetas desde XML */

.sectionRecetas{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
}
.cajaRecetas{
	color: black;
	margin-bottom: 10px;
	width: 500px;
    height: 500px;
	margin: 25px;
	text-align: center;
	background-color: white;
	border-radius:5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.recetaImagen{
	width: 300px;
	margin: auto;
}
.recetaTitulo{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #357AA1;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}


.receta    {
	height: 550px;
	background: #5D5D5D;
	justify-content: center;
	overflow-x:auto;
	height: 1250px;
}

.receta .caja_receta    {
	width: 80%;
	margin: auto;

}

/* Sección Opiniones y Proyectos */

.opiniones_columna {
    position: relative;
    margin-bottom: 30px;
}
.opiniones_columna ul li {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 10px;
}
.opiniones {
	display: flex;
	justify-content: space-between;
	margin-top: -90px;
	flex-wrap: wrap;
	margin-top: 0;
	padding: 20px;
}

.opiniones ul li {
	list-style: none;
	padding: 20px;
}

.proyectos	{
	position: relative;
	width: 300px;
	height: 200px;
	float: left;
	margin: 4px;
	background-size: 100%;
	background-position: center;
	transition: 0.5s;
}

.proyectos:hover	{
	background-size: 110%;
}

.proyectos:after	{
	position: absolute;
	top: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	white-space: pre-wrap;
	overflow: hidden;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	padding: 0 8px;
	content:attr(data-text);
	transition: 0.5s;
}

.proyectos:hover:after	{
	top: 0;
	padding: 8px;
	background-color: rgba(0,0,0,0.6);
}

.proyectos:first-line	{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
